[Unit]
Description="Pipeline execution for webhooks: TARGET"

[Service]
Type=simple
User=TARGET
ExecStart=/path/to/pipelines/TARGET.sh
WorkingDirectory=/path/to/WorkingDirectory

[Install]
WantedBy=multi-user.target
