[Unit]
Description=Waitress Webhooks
After=network.target

[Service]
Type=simple
User=webhooks
WorkingDirectory=/srv/webhooks/waitressd
ExecStart=/srv/webhooks/waitressd/venv/bin/waitress-serve --listen=127.0.0.1:8001 --call web:create_app
Restart=always

[Install]
WantedBy=multi-user.target